/*  
Aufgabe 7: Ice Dealer ReReLoaded
Name: Elyssia-Sofie Dürr
Matrikel: 254764
Datum: 12.05.2019
    
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. 
Er wurde nicht kopiert und auch nicht diktiert. 
*/

@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway');
@media screen and (min-width: 320px) {
	html {
		background-color: #81d6f7;
		font-family: 'Raleway', sans-serif;
	}
	body {
		border: 1px solid transparent;
		margin: 2.5em;
		background-color: #F5F5F5;
		line-height: 2em;
	}
	.toppings {
		margin-top: 0.7em;
		margin-left: 1em;
	}
	.checkbox {
		display: inline;
		margin-left: 1em;
	}
	#title {
		font-size: 3em;
		color: #F781D8;
		text-align: center;
		font-family: 'Pacifico', cursive;
	}
	legend {
		font-size: 1.5em;
	}
	* {
		display: block;
		vertical-align: top;
	}
	input[type="number"], input[type="radio"], input[type="checkbox"], label {
		display: inline;
		margin-top: 0.2em;
	}
	input[type="radio"], input[type="checkbox"] {
		margin-top: 0.6em;
	}
	label {
		padding-left: 2%;
	}
	#adress label, #adress input {
		margin: 0;
		padding: 0;
	}
	::after {
		content: "";
		display: block;
	}
	head {
		display: none;
	}
	fieldset {
		width: 70%;
		margin-left: 8%;
		border: 4px solid #F781D8;
		margin-top: 3%;
	}
	#darreichnung {
		margin-top: 20em;
		z-index: 3;
		position: relative;
	}
	hr {
		color: #F781D8;
	}
	#liefer {
		margin-bottom: 3%;
	}
	button {
		padding: 1%;
		margin: 2% 8%;
		font-family: 'Raleway', sans-serif;
		font-size: 1em;
		display: inline;
	}
	#checkButton {
		background-color: #F781D8;
		border: 5px dashed #81d6f7;
	}
	#submitButton {
		margin-left: 3.2% !important;
		background-color: #81d6f7;
		border: 5px dashed #F781D8;
	}
	#checkButton:hover {
		background-color: #f00fb4;
		border-color: #0e9fd8;
		color: white;
	}
	#submitButton:hover {
		background-color: #0e9fd8;
		border-color: #f00fb4;
		color: white;
	}
	svg, figure, option {
		display: block;
		margin: 0px;
		padding: 0px;
	}
	#priceDiv {
		border-top: 1px solid black;
	}
}

@media screen and (min-width:1024px) {
	#basketFs, #submitÜbersicht {
		position: relative;
		float: right;
		top: -126.5em;
		margin: 0.5% 5% 2em 50%;
	}
	#submitÜbersicht {
		border: 5px dashed #F781D8;
		padding: 0 1%;
	}
	fieldset {
		width: 30%;
		margin-left: 8%;
		border: 2px solid #F781D8;
		margin-top: 3%;
		z-index: 100;
	}
}