@charset "utf-8";

body {
	background-color: black;
	color: white;
	font: Arial;
}

.placeholder {
	
	background-color: white;
	width: 80px;
	height: 120px;
	margin: 1em;
	text-align: center;
	line-height: 100px;
}

.deckStyle {
	visibility: hidden;
}

.handCardStyle {
	width: 80px;
	height: 120px;
	float: left;
	margin: 1em;
	text-align: center;
}

.hidden {
	background-color: white;
}

.open {
	background-color: red;
}
	
	
#aufnehmen {
	width: 100px;
	height: 50px;
	border: solid white 5px;
	text-align: center;
	border-radius: 10px;
	color: #000;
	background-color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.1em;
	padding-top: 30px;

}


#sort {
	width: 100px;
	height: 50px;
	/*position: absolute;*/
	text-align: center;
	border: solid white 5px;
	border-radius: 10px;
	color: #000;
	background-color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-size:1.1em;
	padding-top: 30px;
	float: right;

	
}

.Karte {
	height: 200px;
	width: 140px;
	border: solid white 3px;
	border-radius: 10px;
	position: relative;
    font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	margin-left: 30px;
	top: 0px;
	bottom: 100px;
	left: 50px;
	padding: 20px;
	padding-top: 50px;
	font-size: 2em;
	float: left;
}


.red {
	color: white;
	background-color: #dd2100;
}

.yellow {
	color: black;
	background-color: #fefc05;
}

.blue {
	color: white;
	background-color: #2236b9;
}

.green {
	color: black;
	background-color: #4a912c;
}

.black {
	color: white;
	background-color: black;
}
